@media screen and (min-width: 588px) {
	.footer__border {
		margin: 0 !important;
	}
}
@media screen and (min-width: 768px) {
	.navbar {
		justify-content: center !important;
	}
	.navbar > .container-fluid {
		max-width: 600px !important;
	}
	.header__date {
		margin: 30% 30% 0 30% !important;
	}
	.header__row {
		background-image: url(../images/header_desktop.jpg) !important;
	}
	.remaining__mark,
	.wishes__mark {
		width: 250px !important;
	}
	.remaining__row2 {
		max-width: 600px !important;
	}
	.remaining__box {
		width: 140px !important;
		height: 110px !important;
	}
	.remaining__time {
		font-size: 2.25rem !important;
	}
	.remaining__text {
		font-size: 1.875rem !important;
	}
	.footer__border {
		margin: 0 !important;
	}
	.wishes__icon {
		font-size: 60px !important;
	}
	.wishes__text,
	.wishes__person,
	.wishes__comment {
		font-size: 18px !important;
		text-align: left !important;
	}
}
