/************************************************* General *************************************************/
html {
	font-family: var(--ff-forum);
	--ff-primary: var(--ff-forum);
	--ff-secondary: var(--ff-pinyon);
	--ff-third: var(--ff-dancing);
	--clr-secondary: #af976c;
	--clr-third: #7f703f;
	--clr-green: #198754;
	--clr-red: #dc3545;
	font-size: 18px;
}
a[href],
a[href]:hover {
	color: #000;
	text-decoration: none;
}
a[href],
button {
	color: #000;
	cursor: pointer;
}
p {
	margin: 0 !important;
}
.btn {
	background-color: var(--clr-secondary);
	border-radius: 0.5rem;
	box-shadow: 0px 2px 2px rgb(127 112 63 / 50%);
	color: black !important;
}
.btn__inner {
	font-family: var(--ff-primary);
	color: white;
}
.btn-check:focus + .btn,
.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0.1rem var(--clr-third);
}
.btn-check:focus + .btn,
.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0.1rem var(--clr-third);
}
.bi {
	font-size: 13px;
}
.left_border {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
.title_style {
	font-family: var(--ff-primary);
	font-weight: bolder;
	color: var(--clr-secondary);
	font-size: 1.5rem;
}
.border-lr::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	border-top: 2px solid var(--clr-secondary);
	animation: br_animation 2s linear forwards;
}
.border-lr::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	border-top: 2px solid var(--clr-secondary);
	animation: br_animation 2.25s linear forwards;
}
.col-br-l {
	padding: 0 0 0 calc(var(--bs-gutter-x) * 0.5);
}
.col-br-r {
	padding: 0 calc(var(--bs-gutter-x) * 0.5) 0 0;
}
.mark-l {
	left: 0;
}
.mark-r {
	right: 0;
}

/************************************************* Cover *************************************************/
.cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.8)
	);
}
.cover__image {
	width: 100%;
	height: 100%;
	/* opacity: 0.75; */
	object-fit: cover;
	object-position: center;
	filter: blur(1px);
	-webkit-animation: kenburns-top 5s ease-out both;
	animation: kenburns-top 5s ease-out both;
}
.cover__box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: white;
}
.cover__box__name {
	position: absolute;
	top: 40%;
	text-align: center;
	/* color: white; */
	font-family: var(--ff-secondary);
	font-size: 2rem;
	line-height: normal;
}
.cover__name__style {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.cover__opening {
	/* color: white; */
	font-family: var(--ff-primary);
	text-align: center;
	position: absolute;
	top: 15%;
	line-height: normal;
	font-size: 2rem;
	text-shadow: 0px 1px 1px rgb(0 0 0 / 50%);
}
.cover__to {
	/* color: white; */
	font-family: var(--ff-primary);
	text-align: center;
	position: absolute;
	bottom: 20%;
	line-height: normal;
	font-size: 1rem;
	text-shadow: 0px 1px 1px rgb(0 0 0 / 50%);
}
.cover__btn {
	position: absolute;
	bottom: 7.5%;
}
.cover__destroy {
	-webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
	animation: puff-out-center 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

/************************************************* Header *************************************************/
.header {
	background-color: #fffff0;
}
.header__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* width: 100%; */
	min-height: 700px;
	height: 100vh;
	background-image: url(../images/header.webp);
	background-size: cover;
	background-position: 50% 0;
	background-repeat: no-repeat;
	/* padding-top: 164px; */
	opacity: 0.9;
	align-content: center;
}
.header__box {
	display: block;
	position: absolute;
	top: 17.5%;
	left: 0;
	right: 0;
	/* bottom: auto; */
}
.header__name {
	font-family: var(--ff-secondary);
	color: white;
	font-weight: bolder;
	font-size: 3rem;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.header__date {
	color: white;
	font-size: 2rem;
	font-family: var(--ff-primary);
	text-align: center;
	line-height: normal;
	margin: 90% 10% 0 10%;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	/* margin: 0 10%; */
	font-weight: bolder;
}

/************************************************* Header *************************************************/
.header_prolog {
	display: block;
	position: relative;
	padding: 10% 5%;
	font-family: var(--ff-primary);
	color: black;
	line-height: normal;
	text-align: center;
}

/************************************************* Recipient *************************************************/
.recipient {
	display: block;
	position: relative;
	background-color: var(--clr-secondary);
	color: white;
	font-family: var(--ff-primary);
	line-height: normal;
	text-align: center;
	padding: 5%;
}
.recipient__text {
	font-size: 1rem;
}
.recipient__name {
	font-size: 1.75rem;
}

/************************************************* Content *************************************************/
.content {
	display: block;
	position: relative;
	background-color: white;
	color: black;
	font-family: var(--ff-primary);
	line-height: normal;
	text-align: center;
	padding: 10% 5%;
}
.content__head__title {
	padding: 5% 0;
}
.content__head__body {
	font-style: italic;
}
.content__body {
	display: block;
	position: relative;
	padding: 10% 10% 0 10%;
}
.content__body__person {
	display: block;
	position: relative;
}
.content__body__separator {
	display: block;
	position: relative;
	text-align: center;
	padding: 5%;
}
.content__body__separator__style {
	color: var(--clr-third);
	font-size: 3rem;
	font-weight: bolder;
	font-family: var(--ff-secondary);
}
.person {
	display: block;
	position: relative;
	width: 200px;
	height: 200px;
	margin: 5%;
}
.person::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50% 50%;
	border: 2px solid var(--clr-third);
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 1;
}
.person::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50% 50%;
	border: 2px solid var(--clr-third);
	position: absolute;
	bottom: 4px;
	right: 4px;
	z-index: 1;
}
.person__image {
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center;
	border-radius: 50% 50%;
}
.person_name {
	padding: 7.5%;
}
.person_name_style {
	font-family: var(--ff-secondary);
	color: var(--clr-third);
	font-size: 1.5rem;
	font-weight: bolder;
}
.person_parent {
	padding: 0;
}
.person_ig {
	padding: 0 5%;
}

/************************************************* Remaining *************************************************/
.remaining {
	display: block;
	position: relative;
	padding: 5%;
}
.remaining__mark {
	display: block;
	width: 100px;
	height: auto;
	position: absolute;
	top: 0;
	z-index: -1;
}
.remaining__row {
	margin: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}
.remaining__title {
	font-family: var(--ff-primary);
	color: var(--clr-secondary);
	font-weight: bolder;
	font-size: 1.5rem;
	padding: 5% 5% 0 5%;
}
.remaining__date {
	font-family: var(--ff-primary);
	font-size: 2rem;
	color: var(--clr-secondary);
	font-weight: bolder;
	padding: 0 5%;
}
.remaining__box {
	font-family: var(--ff-primary);
	font-weight: bolder;
	color: var(--clr-secondary);
	line-height: normal;
	padding: 5%;
	border-radius: 50%;
	width: 70px;
	height: 55px;
	border: 2px solid var(--clr-secondary);
}
.remaining__time {
	font-size: 1.25rem;
}
.remaining__text {
	font-size: 0.875rem;
}
.btn-add-to-calendar {
	font-size: 14px;
}

/************************************************* Event *************************************************/
.event {
	display: block;
	position: relative;
	padding: 10% 5% 10% 5%;
	text-align: center;
}
.event__border {
	margin-top: 5%;
}
.event__prolog {
	display: block;
	position: relative;
	padding: 0 5%;
}
.event__prolog__title {
	padding: 10% 5% 5% 5%;
}
.event__prolog__content {
	line-height: normal;
	font-size: 1rem;
	font-family: var(--ff-primary);
	font-style: italic;
	margin: 0 !important;
	padding-bottom: 5%;
}
.event__date {
	display: block;
	position: relative;
	padding: 5%;
	line-height: normal;
	margin: 5%;
}
.event__akad,
.event__resepsi {
	display: block;
	position: relative;
	padding: 5%;
	text-align: center;
	font-family: var(--ff-primary);
}
.event__akad__title,
.event__resepsi__title {
	padding: 0 5%;
}
.event__akad__time,
.event__resepsi__time {
	padding: 0 5% 7.5% 5%;
}
.event__akad__place,
.event__resepsi__place {
	line-height: normal;
	padding: 0 5%;
	font-weight: bolder;
}
.event__akad__address,
.event__resepsi__address {
	line-height: normal;
	padding: 0 5% 3% 5%;
	font-size: 16px;
}
.btn_maps {
	font-size: 14px;
}

/************************************************* Absent *************************************************/
.absent {
	display: block;
	position: relative;
	padding: 5%;
}
.absent__mark {
	display: block;
	width: 100px;
	height: auto;
	position: absolute;
	top: 0;
	z-index: -1;
}
.absent__row {
	margin: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}
.absent__title {
	font-family: var(--ff-primary);
	color: var(--clr-secondary);
	font-weight: bolder;
	font-size: 1.5rem;
	padding: 5% 5% 10% 5%;
}
.btn-absent-y,
.btn-absent-n {
	background-color: #eaeaea !important;
	box-shadow: 0px 2px 2px gray !important;
	color: black !important;
}
.btn-absent-y.active {
	background-color: var(--clr-green) !important;
	box-shadow: 0px 2px 2px rgb(0 255 0 / 50%) !important;
}
.btn-absent-n.active {
	background-color: var(--clr-red) !important;
	box-shadow: 0px 2px 2px rgb(255 0 0 / 50%) !important;
}
